<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css ">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
            <ul class="navbar-nav pr-2 pl-r">
                <li class="nav-item">
                   <a class="nav-link" href="{{ path('product') }}">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('category') }}">Products Categories</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
            <script src=""></script>
       
            <script>
                $(".status-category").click(function () { 
                    $.ajax({
                        type: "POST",
                        url: "/category/statusUpdate/" + $(this).data('id'),
                        data: "data",
                        dataType: "json",
                        success: function (response) {
                            if (response.status === 'success') {
                                window.location.href = "/category";
                            }
                        }
                    });
                });

                $('#category-table').dataTable(
                    {
                        language: {
                            url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json'
                        }
                    } 
                );
                $('#product-table').dataTable(
                    {
                        language: {
                            url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json'
                        }
                    } 
                );
            </script>

            
        {% endblock %}
    </body>
</html>
